@font-face {
    font-family: "vicon"; /* Project id 2962094 */
    src: url('../fonts/iconfont/iconfont.eot?t=1637736532959'); /* IE9 */
    src: url('../fonts/iconfont/iconfont.eot?t=1637736532959#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont/iconfont.woff2?t=1637736532959') format('woff2'),
    url('../fonts/iconfont/iconfont.woff?t=1637736532959') format('woff'),
    url('../fonts/iconfont/iconfont.ttf?t=1637736532959') format('truetype'),
    url('../fonts/iconfont/iconfont.svg?t=1637736532959#vicon') format('svg');
}

.vicon {
    font-family: "vicon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-card-top:before {
    content: "\e620";
}

.i-calendar:before {
    content: "\e621";
}

.i-card-new:before {
    content: "\e622";
}

.i-card-hot:before {
    content: "\e623";
}

.i-cemail:before {
    content: "\e624";
}

.i-comments:before {
    content: "\e625";
}

.i-author:before {
    content: "\e626";
}

.i-download:before {
    content: "\e627";
}

.i-favorites-fill:before {
    content: "\e628";
}

.i-book:before {
    content: "\e629";
}

.i-coding:before {
    content: "\e62a";
}

.i-email:before {
    content: "\e62b";
}

.i-face:before {
    content: "\e62c";
}

.i-bilibili:before {
    content: "\e62d";
}

.i-like:before {
    content: "\e62e";
}

.i-rarrows:before {
    content: "\e62f";
}

.i-larrows:before {
    content: "\e630";
}

.i-down:before {
    content: "\e631";
}

.i-reply:before {
    content: "\e632";
}

.i-rightbutton:before {
    content: "\e633";
}

.i-gitee:before {
    content: "\e634";
}

.i-tab-fire-fill:before {
    content: "\e635";
}

.i-plus:before {
    content: "\e636";
}

.i-stackflow:before {
    content: "\e637";
}

.i-good:before {
    content: "\e638";
}

.i-tab-fire:before {
    content: "\e639";
}

.i-hot:before {
    content: "\e63a";
}

.i-douban:before {
    content: "\e63b";
}

.i-donate:before {
    content: "\e63c";
}

.i-url:before {
    content: "\e63d";
}

.i-linkedin:before {
    content: "\e63e";
}

.i-twitter:before {
    content: "\e63f";
}

.i-up:before {
    content: "\e640";
}

.i-user:before {
    content: "\e641";
}

.i-github:before {
    content: "\e642";
}

.i-tab-new:before {
    content: "\e643";
}

.i-tab-random:before {
    content: "\e644";
}

.i-find:before {
    content: "\e645";
}

.i-telegram:before {
    content: "\e646";
}

.i-sina:before {
    content: "\e647";
}

.i-youtube:before {
    content: "\e648";
}

.i-wechat:before {
    content: "\e649";
}

.i-wechat-circle:before {
    content: "\e64a";
}

.i-favorites:before {
    content: "\e64b";
}

