@charset "UTF-8";


/*--------------------------------------------------------------
>>> Kratos 样式表
>>> Seaton Jiang <seaton@vtrois.com> and Virace <Virace@aliyun.com>
----------------------------------------------------------------
	1.  全局
	2.  导航
	3.  Banner
	4.  分页按钮
	5.  文章列表
	6.  文章正文
	7.  内容工具区
	8.  文章评论
	9.  小工具
	10. 404
	11. 页脚
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1. 全局
--------------------------------------------------------------*/

:active, :focus, button:focus {
    outline: 0
}

.btn-outline-primary.focus, .btn-outline-primary:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .form-control:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: none
}


.k-main {
    padding: 23px 0;
    background-color: var(--bg-color, #f5f5f5)
}

.k-main.color {
    padding-top: 103px
}

@media only screen and (max-width: 992px) {
    .k-main.color {
        padding-top: 92px
    }
}

@media only screen and (max-width: 768px) {
    .k-main {
        padding: 0
    }

    .k-main.color {
        padding-top: 83px
    }
}

/*--------------------------------------------------------------
2. 导航
--------------------------------------------------------------*/

.k-nav {
    background-color: var(--navbar-color-1, rgba(40, 42, 44, .6));
    transition: background .3s linear;
    padding: 0 1rem
}

.k-nav .navbar-brand {
    color: var(--navbar-color-2, #fff);
    font-size: 24px;
    animation-name: backInLeft
}

.k-nav .navbar-brand h1 {
    display: inherit;
    padding: inherit;
    color: inherit;
    margin: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.k-nav .navbar-brand img {
    width: 100px;
    transition: background .3s linear
}

.k-nav .navbar-toggler {
    padding: 13px;
    border-color: transparent;
    border-radius: 0;
    color: #343a40;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px
}

.k-nav .collapse {
    animation-name: backInRight
}

.k-nav .navbar-nav {
    position: relative
}

.k-nav .navbar-nav li.nav-item {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.k-nav .navbar-nav .dropdown-item:hover {
    background-color: var(--navbar-color-1, rgba(40, 42, 44, .6))
}

.k-nav .navbar-nav > li.nav-item > a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 17px;
    padding: 22px 18px;
    margin: 0
}

.k-nav .line {
    display: flex;
    width: 24px;
    height: 2px;
    background: var(--navbar-color-2, #fff);
    transition: .3s ease-out
}

.k-nav .second-line {
    margin: 5px 0
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .show > .nav-link {
    color: var(--navbar-color-2, #fff)
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, .8)
}

.navbar-light .navbar-nav .nav-link .fas {
    margin-right: 3px
}

.navbar-scrolled {
    background-color: var(--navbar-color-2, #fff) !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3)
}

.k-nav.navbar-scrolled .line {
    background-color: #000 !important
}

.k-nav.navbar-scrolled .navbar-brand {
    color: var(--navbar-color-1, rgba(40, 42, 44, .6)) !important;
    overflow: hidden;
    display: inline-block;
    position: relative;

}

.k-nav.navbar-scrolled .navbar-brand img {
    filter: drop-shadow(110px 0 var(--navbar-color-1, rgba(40, 42, 44, .6)));
    position: relative;
    left: -110px
}

.k-nav.navbar-scrolled .navbar-nav > li.nav-item > a {
    color: var(--navbar-color-1, rgba(40, 42, 44, .6)) !important
}

.dropdown-menu {
    min-width: 100%;
    padding: .75rem 0;
    margin: 0;
    background-color: var(--navbar-color-1, rgba(40, 42, 44, .6)) !important;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    z-index: 1000
}

.dropdown-item {
    color: var(--navbar-color-2, #fff) !important
}

.dropdown-menu.navbar-scrolled {
    background-color: var(--navbar-color-2, #fff) !important
}

.dropdown-menu.navbar-scrolled .nav-item > a {
    color: var(--navbar-color-1, rgba(40, 42, 44, .6)) !important
}

.dropdown-menu .dropdown-item {
    text-align: center;
    font-size: .875rem;
    padding: .4rem 1.25rem;
    line-height: 1.1
}

.navbar .nav-link {
    margin: 0 .25rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500
}

@keyframes slideIn {
    100% {
        transform: translateY(0);
        opacity: 1
    }
    0% {
        transform: translateY(1rem);
        opacity: 0
    }
}

.dropdown-toggle::after, .mobi-navbar {
    display: none
}

@media only screen and (max-width: 992px) {
    .mobi-navbar {
        display: initial;
        position: fixed;
        z-index: 9999;
        top: 0;
        bottom: 0;
        right: -50%;
        width: 50%;
        height: 100%;
        padding: 4.6rem 0 2rem;
        margin: 0;
        background: var(--mb-sidebar-color, #242b31);
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }

    .mobi-menu > ul, .mobi-navbar > ul {
        position: relative;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;
        border-top: 1px solid rgba(10, 10, 10, .06) !important;
        overflow-y: auto
    }

    .mobi-menu > ul > li, .mobi-navbar > ul > li {
        position: relative;
        font-size: 18px
    }

    .mobi-menu > ul > li > a, .mobi-navbar > ul > li > a {
        display: block;
        padding: 0 2rem;
        line-height: 3.2rem;
        border: 0;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid rgba(10, 10, 10, .06) !important
    }

    .mobi-menu > ul > li > a:active, .mobi-menu > ul > li > a:focus, .mobi-navbar > ul > li > a:active, .mobi-navbar > ul > li > a:focus {
        background: #0d62b3
    }

    .mobi-menu .mobi-menu-sub, .mobi-navbar .mobi-menu-sub {
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;
        background: rgba(0, 0, 0, .06)
    }

    .mobi-menu .mobi-menu-sub li a, .mobi-navbar .mobi-menu-sub li a {
        padding: 0 2rem;
        display: block;
        color: #fff;
        line-height: 3rem;
        text-decoration: none;
        border-bottom: 1px solid rgba(10, 10, 10, .03) !important
    }

    .mobi-menu .m-dropdown, .mobi-navbar .m-dropdown {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 3.2rem;
        height: 3.2rem;
        line-height: 3.2rem;
        text-align: center;
        color: #fff;
        background: rgba(255, 255, 255, .04);
        -webkit-transition: .3s ease-out;
        transition: .3s ease-out
    }

    .mobi-menu .m-dropdown .vicon, .mobi-navbar .m-dropdown .vicon {
        font-size: 2rem;
        line-height: 3.2rem;
        -webkit-transition: .3s ease-out;
        transition: .3s ease-out
    }

    .mobi-menu .menu-open > .m-dropdown .vicon, .mobi-navbar .menu-open > .m-dropdown .vicon {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: .3s ease-out;
        transition: .3s ease-out
    }

    .menu-on {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: .3s ease-out;
        transition: .3s ease-out
    }

    .menu-on .navbar-on-shadow {
        display: block
    }

    .navbar-on-shadow {
        display: none;
        position: fixed;
        z-index: 99999;
        width: 100%;
        height: 100%;
        left: 0;
        top: 69px;
        content: '';
        background: rgba(0, 0, 0, .3);
        transition: .3s ease-out .3s
    }
}

@media screen and (max-width: 992px) {
    .k-nav .navbar-nav > li.nav-item > a {
        font-size: 16px
    }

    .navbar-light .navbar-nav .dropdown-item {
        color: #fff
    }

    .navbar-light .navbar-nav .dropdown-menu {
        padding: 0
    }
}

/*--------------------------------------------------------------
3. Banner
--------------------------------------------------------------*/


.k-header .banner {
    position: relative;
    height: 300px
}

.k-header .banner .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: rgba(66, 64, 64, .2)
}

.k-header .banner .content {
    position: relative;
    height: 300px;
    background-position: center center;
    background-size: cover
}

.k-header .banner .content .introduce {
    position: absolute;
    top: 37%;
    z-index: 10;
    width: 100%;
    color: #fff;
    text-shadow: 2px 2px 2px #666;
    cursor: default;
    animation-name: fadeInUp
}

.k-header .banner .content .introduce .title {
    margin-bottom: 5px;
    font-size: 35px
}

.k-header .banner .content .introduce .mate {
    font-size: 25px
}

@media screen and (max-width: 768px) {
    .navbar-on-shadow {
        top: 44px
    }

    .mobi-navbar {
        right: -80%;
        width: 80%
    }

    .menu-on {
        -webkit-transform: translateX(-80%);
        transform: translateX(-80%)
    }

    .k-nav {
        padding-bottom: 0;
        padding-top: 0
    }

    .k-nav .navbar-brand {
        font-size: 17px;
        padding-bottom: 0;
        padding-top: 0
    }

    .k-nav .navbar-brand img {
        width: 88px;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 16px
    }

    .navbar-light .navbar-brand:hover {
        color: rgba(255, 255, 255, .8)
    }

    .k-nav .navbar-nav > li.nav-item > a {
        font-size: 14px
    }

    .k-header .banner, .k-header .banner .content {
        height: 150px
    }

    .k-header .banner .content .introduce {
        top: 37%
    }

    .k-header .banner .content .introduce .title {
        font-size: 25px
    }

    .k-header .banner .content .introduce .mate {
        font-size: 15px
    }
}

/*--------------------------------------------------------------
4. 分页按钮
--------------------------------------------------------------*/

.k-main .board .paginations {
    margin: 23px auto;
    width: 100%;
    text-align: center;
    font-size: 14px
}

.k-main .board .paginations a {
    padding: 8px 12px;
    background: #fff;
    color: #444
}

.k-main .board .paginations .current {
    padding: 8px 12px;
    background: var(--theme-color-1, #00a2ff);
    color: #fff;
    font-weight: 400
}

.k-main .board .paginations .dots {
    padding: 8px 12px;
    background: #fff;
    color: #444
}

.article .content .paginations {
    padding-top: 20px;
    width: 100%;
    font-size: 14px
}

.article .content .paginations a {
    margin: 0 3px
}

.article .content .paginations a span {
    padding: 7px 12px;
    border: solid 1px var(--theme-color-1, #00a2ff);
    background-color: var(--light, #f8f9fa);
    color: var(--theme-color-1, #00a2ff)
}

.article .content .paginations .current span, .article .content .paginations a span:hover {
    padding: 7px 12px;
    border: solid 1px var(--theme-color-1, #00a2ff);
    background: var(--theme-color-1, #00a2ff);
    color: #fff
}

/*--------------------------------------------------------------
5. 文章列表
--------------------------------------------------------------*/

.k-main .container {
    max-width: 1200px
}

.k-main .board {
    animation-name: fadeInLeft
}

article.article-panel {
    margin: 0 0 23px;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

article.article-panel:last-of-type {
    margin: 0
}

article.article-panel .sticky-post {
    color: var(--theme-color-2, #0097ee)
}

article.article-panel .a-thumb {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 20px;
    width: 240px;
    height: 145px
}

article.article-panel .a-thumb img {
    padding: 2px;
    width: 100%;
    height: 100%;
    border: 1px solid #f3f3f3;
    object-fit: cover
}

article.article-panel .a-post {
    margin-left: 255px;
    padding: 21px 20px 0 3px;
    height: 160px
}

article.article-panel .a-post.a-none {
    margin-left: 0;
    padding: 20px;
    height: auto
}

article.article-panel .a-post .header {
    overflow: hidden;
    margin: 3px 0 6px
}

article.article-panel .a-post .header .label {
    position: relative;
    top: -2px;
    display: inline-block;
    margin-right: 5px;
    padding: 4px 6px 3px;
    border-radius: 0;
    background-color: var(--theme-color-1, #00a2ff);
    color: #fff;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    line-height: 14px
}

article.article-panel .a-post .header span.label {
    cursor: default
}

article.article-panel .a-post .header .label .label-arrow {
    position: absolute;
    top: 6px;
    right: -4px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid var(--theme-color-1, #00a2ff);
    content: "";
    vertical-align: top
}

article.article-panel .a-post .header .title {
    display: inline;
    margin: 0;
    font-size: 21px
}

article.article-panel .a-post .header .title a {
    color: #333
}

article.article-panel .a-post .header .title a:hover {
    color: var(--theme-color-2, #0097ee)
}

article.article-panel .a-post .content {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    max-height: 110px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    cursor: default;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4
}

article.article-panel .a-post .content p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 15px
}

article.article-panel .a-meta {
    clear: both;
    overflow: hidden;
    padding: 8px 20px;
    border-top: 1px solid #f3f3f3;
    font-size: 12px;
    line-height: 27px
}

article.article-panel .a-meta span {
    font-size: 13px;
    line-height: 24px;
    cursor: default
}

article.article-panel .a-meta span > i {
    margin-right: 3px
}

article.article-panel .a-meta span > a {
    color: #333
}

article.article-panel .a-meta span > a:hover {
    color: var(--theme-color-2, #0097ee);
    text-decoration: none
}

article.article-panel .a-meta span > a > i {
    margin-left: 3px
}

article.article-panel .search-title {
    padding: 20px 25px;
    color: #000;
    font-size: 18px
}

article.article-panel .nothing {
    width: 100%;
    padding: 50px;
    text-align: center
}

article.article-panel .nothing img {
    width: 50%
}

article.article-panel .nothing .sorry {
    margin-top: 30px;
    font-size: 20px
}

@media screen and (max-width: 768px) {
    .k-main .board {
        padding: 0;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn
    }

    article.article-panel {
        margin: 0;
        box-shadow: none;
        padding: .2rem;
        border-bottom: 1px solid #efefef;
        display: flex;
        flex-flow: row
    }

    article.article-panel .a-thumb {
        height: 75px;
        width: 124px;
        overflow: hidden;
        margin: 0 10px 0 5px
    }

    article.article-panel .a-thumb img {
        border: none
    }

    article.article-panel .a-right {
        flex: 1;
        position: relative
    }

    article.article-panel .a-post {
        margin-left: 0;
        padding: 0;
        height: auto;
        width: 100%
    }

    article.article-panel .a-post .header {
        line-height: 1.4 !important;
        margin-bottom: 30px
    }

    article.article-panel .a-post .header .label {
        position: absolute;
        left: -130px;
        top: 4px;
        font-size: 11px;
        margin: 0;
        padding: 3px 5px;
        border-radius: 5px;
        opacity: .7
    }

    article.article-panel .a-post .header .label i {
        display: none
    }

    article.article-panel .a-post .header .title {
        line-height: 1;
        font-weight: 500
    }

    article.article-panel .a-post .header .title a {
        font-size: 18px;
        line-height: 16px
    }

    article.article-panel .a-post .content {
        display: none
    }

    article.article-panel .a-meta {
        position: absolute;
        bottom: 0;
        padding: 0;
        border: none
    }

    article.article-panel .a-meta .float-right {
        display: none
    }

    article.article-panel .a-meta span {
        color: #999;
        font-size: 13px
    }

    article.article-panel .nothing .sorry {
        font-size: 18px
    }
}

/*--------------------------------------------------------------
6. 文章正文
--------------------------------------------------------------*/

.k-main .details {
    animation-name: fadeInLeft
}

.article {
    padding: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    word-wrap: break-word;
    word-break: break-all
}

.article .content > * {
    /*margin-bottom: 1rem !important*/
    margin: 1em 0 .6em 0;
}

.article .breadcrumb-box {
    border-bottom: 1px solid #f7f7f7
}

.article > :first-child {
    margin-top: 0
}

.article > :last-child {
    margin-bottom: 0
}

.article .breadcrumb-box .breadcrumb {
    margin-bottom: 0;
    padding: 12px 16px;
    border-radius: 0;
    background-color: inherit;
    font-size: 13px
}

.article .breadcrumb-box .breadcrumb li {
    margin-bottom: 0;
    list-style: none
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: .3rem
}

.breadcrumb-item + .breadcrumb-item::before {
    padding-right: .2rem
}

.article .breadcrumb-box .breadcrumb-item.active {
    cursor: default
}

.article .header {
    text-align: center;
    padding: 0 16px 16px
}

.article .header .title {
    padding-bottom: 0;
    border: none;
    user-select: none;
    font-weight: bold;
    text-shadow: 0 2px white, 0 3px #777;
}

.article .header .meta {
    color: #5a5a5a;
    font-size: 14px;
    cursor: default
}

.article .header .meta a {
    color: inherit
}

.article .header .meta > span:not(:last-child):after {
    margin-right: 5px;
    margin-left: 5px;
    color: #71777c;
    content: "\B7"
}

.article .content {
    padding: 0 16px 16px;
    word-wrap: break-word;
    line-height: 1.8;
    word-break: break-all
}

.article .content a {
    text-decoration: underline;
}

.article .content p::after, .article .content::after {
    clear: both;
    display: block;
    content: ""
}

.article .content h2, .article .content h3, .article .content h4, .article .content h5, .article .content h6, .article h1 {
    /*margin-top: 24px;*/
    /*margin-bottom: 16px;*/
    margin: 1em 0 0.5em 0;
    /*font-weight: 500;*/
    /*line-height: 32px*/
}

.article h1 {
    padding-bottom: 5px;
    font-size: 30px;
    line-height: 38px
}

.article .content h2 {
    border-left: 6px solid var(--theme-color-1, #00a2ff);
    background-color: #f7f7fa;
    margin: 1em 0 .6em 0;
    font-size: 28px;
    padding: 3px 0 3px 5px;
}

.article .content h2.title {
    margin: 16px -16px;
    padding: 0 10px;
    border-left: 5px solid var(--theme-color-1, #00a2ff);
    background-color: rgba(243, 243, 243, .7);
    font-size: 20px;
    line-height: 41px
}

.article .content h3 {
    border-left: 4px solid var(--theme-color-1, #00a2ff);
    background-color: #f7f7fa;
    margin: 1em 0 .6em 0;
    font-size: 22px;
    padding: 3px 0 3px 5px;
}

.article .content h4 {
    margin: 1em 0 .6em 0;
    font-size: 16px;
    border-left: 2px solid var(--theme-color-1, #00a2ff);
    background-color: #f7f7fa;
    padding: 2px 0 3px 2px;
}

.article .content h5 {
    font-size: 14px;
    background-color: #f7f7fa
}

.article .content h6 {
    font-size: 12px
}

.article .content > p:not(.has-background) {
    /*line-height: 30px;*/
    /*padding: 0 0 20px*/
}

.article .content > ol, .article .content > ul {
    overflow: hidden
}

.article .content > ol > li, .article .content > ul > li {
    list-style: none;
    position: relative;
    padding: 0 0 0 2em;
    margin: 0 0 .5em 10px;
    -webkit-transition: .12s;
    transition: .12s
}

.article .content > ol > li::before, .article .content > ul > li::before {
    position: absolute;
    content: '\2022';
    color: #000;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 2em;
    opacity: .5;
    line-height: .5;
    -webkit-transition: .5s;
    transition: .5s
}

.article .content > ul > li:hover {
    color: var(--theme-color-1, #00a2ff)
}

.article .content > ul > li:hover::before {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 1;
    text-shadow: 0 0 4px;
    -webkit-transition: .1s;
    transition: .1s
}

.article .content > ol {
    counter-reset: xxx 0
}

.article .content > ol > li::before {
    content: counter(xxx, decimal) ".";
    counter-increment: xxx 1;
    font-family: 'Roboto Condensed';
    font-size: 1em;
    opacity: .5;
    line-height: 1.4;
    -webkit-transition: .5s;
    transition: .5s
}

.article .content > ol > li:hover:before {
    opacity: 1;
    left: -10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    text-shadow: none;
    -webkit-transition: .12s;
    transition: .12s
}

.article .content .wp-block-gallery {
    padding-top: 30px
}

.article .content .progress, .article .content .video-container {
    margin-bottom: 16px
}

.article .content blockquote {
    margin-bottom: 16px;
    padding: 16px;
    border-left: 6px solid #dce6f0;
    background: #f2f7fb;
    color: #819198;
    font-size: 15px
}

.article .content blockquote > cite {
    display: inherit;
    text-align: right
}

.article .content blockquote > cite:before {
    content: "\2014\2014";
    margin-right: 2px
}

.article .content blockquote p {
    margin-bottom: -3px
}

.article .content hr {
    margin: 24px 0;
    height: 1px;
    border: none;
    border-top: 1px solid #a5a5a5
}

.article .content pre {
    margin: 10px 0;
    padding: 11px 16px;
    border-radius: 4px;
    background-color: #f8f8f8;
    word-wrap: break-word;
    font-size: 14px !important;
    line-height: 1.7;
    word-break: break-all
}

.article .content pre.wp-block-code {
    padding: 0
}

.article .content kbd {
    display: inline-block;
    margin: -3px 2px 0;
    padding: 2px 10px;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    background-color: #e1e3e5;
    box-shadow: 0 1px 0 rgba(12, 13, 14, .2), 0 0 0 2px #fff inset;
    color: #242729;
    vertical-align: middle;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    font-size: 10px;
    line-height: 1.5
}

.article .content pre code {
    white-space: pre-wrap
}

.article .content pre ol {
    padding: 0
}

.article .content pre li {
    margin: 0;
    list-style: none
}

.article .content .wp-caption-text {
    margin-bottom: 0;
    font-size: 14px
}

.article .content .wp-block-image {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px
}

.article .content .wp-block-image img {
    box-shadow: 0 4px 7px #000;
    transition: .3s ease-out
}

.article .content .wp-block-image figcaption {
    font-size: 14px
}

.article .content figure {
    margin: 0
}

.article .content p a > img, .article .content p > img {
    display: block
}

.article .content .wp-smiley {
    display: inline
}

.article .content .aligncenter::after, .article .content .alignleft::after, .article .content .alignright::after {
    clear: both;
    display: block;
    content: ""
}

.article .content .alignleft {
    float: left;
    margin-right: 16px
}

.article .content .aligncenter {
    margin-right: auto;
    margin-left: auto
}

.article .content .alignright {
    float: right;
    margin-left: 16px
}

.article .content img {
    height: auto;
    max-width: 100%
}

.article .content table:not(.hljs-ln) {
    display: table;
    overflow: auto;
    width: 100%;
    table-layout: fixed;
    word-break: break-all
}

.article .content table:not(.hljs-ln) td, .article .content table:not(.hljs-ln) th {
    padding: 8px 16px;
    border: 1px solid #e9ebec
}

.article .content table:not(.hljs-ln) th {
    font-weight: 700
}

.article .content table:not(.hljs-ln) tr:nth-child(2n) {
    background-color: #f8f8f8
}

.article .content .alert, .article .content .card, .card-header:first-child {
    border-radius: 0
}

.article .content .card-header {
    padding: 6px 15px
}

.article .content .alert, .article .content .card-body {
    padding: 10px 15px
}

.article .content .downbtn {
    display: inline-block;
    margin-bottom: 16px;
    padding: 3px 10px;
    border: 1px solid #39aaf9;
    background: #39aaf9;
    color: #fff;
    font-size: 14px
}

.article .content .downbtn:hover {
    background: #37a0eb;
    color: #fff
}

.article .content .downbtn:focus {
    color: #fff;
    text-decoration: none
}

.article .content .video-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 75%;
    height: 0
}

.article .content .video-container embed, .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.article .content > :last-child {
    margin-bottom: 0
}

.article .copyright {
    padding: 16px
}

.article .copyright span {
    display: block;
    padding: 18px;
    background-color: #e8e8e8;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    cursor: default
}

.article .footer {
    padding: 0 16px 10px;
    border-top: 1px solid #f2f2f2
}

.article .footer .tags, .article .footer .tool {
    margin-top: 10px
}

.article .footer .tags span, .article .footer .tool span {
    color: #333;
    font-size: 14px;
    cursor: default
}

.article .footer .tags a {
    margin: 0 5px 0 0;
    padding: 2px 7px;
    background-color: #a9a9a9;
    color: #fff;
    font-size: 13px
}

.article .content .accordion {
    margin-bottom: 16px;
    border: 1px solid #e5e8ed;
    transition: max-height 0.3s
}

.article .content .accordion .acheader {
    position: relative;
    padding: 5px 15px;
    background: #f7f8fa
}

.article .content .accordion .acheader span {
    font-weight: 600;
    font-size: 17px
}

.article .content .accordion .acheader .icon {
    position: absolute;
    right: 15px;
    font-size: 17px
}

.article .content .accordion .acheader .icon .vicon {
    font-size: 17px
}

.article .content .accordion.active .icon {
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.article .content .accordion .contents {
    display: none;
    border-top: 1px solid #e6e6e6;
    /*height: 0;*/
    /*transition: all .3s ease-out;*/
    /*max-height: 0;*/
    /*transition: max-height 0.3s ease-out;*/
    /*overflow: hidden;*/
}

/*.article .content .accordion.active .contents {*/
/*    max-height: 100%;*/
/*    transition: max-height 0.3s*/
/*}*/

.article .content .accordion .contents .inner {
    padding: 5px 15px
}

.article .page-header {
    text-align: center;
    color: #999
}

.article .page-content .arc-tag {
    margin: 20px
}

.article .page-content .arc-tag a {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    border: 1px solid #fff;
    border-radius: 15px;
    color: rgba(51, 51, 51, .78);
    margin: 4px 8px 0 0;
    font-weight: 500;
    display: inline-block;
    padding: 0 12px;
    background: rgba(255, 255, 255, .5)
}

.article .page-content .arc-tag a:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5)
}

.article .page-content .arc-tag a::before {
    content: "# ";
    color: #e8a6a6
}

.article .page-content h4 {
    margin: 5px 0
}

.posts-collapse {
    position: relative;
    margin-left: 55px;
    z-index: 0
}

.posts-collapse .collection-title {
    position: relative;
    margin: 20px 0
}

.posts-collapse .collection-title h2 {
    margin-left: 20px;
    font-size: 28px;
    color: #555;
    line-height: 1.5
}

.posts-collapse .post-header {
    position: relative
}

.posts-collapse .post-title {
    margin: 0 0 13px 70px;
    font-size: 17px;
    line-height: inherit
}

.posts-collapse .post-title span {
    color: #666;
    -webkit-transition: .5s;
    transition: .5s
}

.posts-collapse .post-title span:hover {
    color: #333
}

.posts-collapse .post-meta {
    position: absolute;
    font-size: 13px;
    font-weight: 400;
    left: 20px;
    top: 3px;
    color: var(--theme-color-2, #0097ee)
}

.posts-collapse::after {
    content: " ";
    position: absolute;
    top: 20px;
    left: 0;
    margin-left: -2px;
    width: 4px;
    height: calc(100% - 35px);
    background: #f5f5f5;
    z-index: -1
}

.posts-collapse .collection-title::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: -5px;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    background: #bbb;
    border-radius: 50%
}

.posts-collapse .post-header::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 12px;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    background: #bbb;
    border-radius: 50%;
    border: 1px solid #fff;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-property: background
}

.posts-collapse .post-header:hover::before {
    background: #222
}

.linkpage ul:after {
    content: " ";
    clear: both;
    display: block
}

.linkpage li {
    float: left;
    width: 48%;
    position: relative;
    transition: .3s ease-out;
    border-radius: 5px;
    line-height: 1.3;
    height: 90px;
    list-style: none
}

.linkpage h3 {
    margin: 15px -25px;
    padding: 0 25px;
    border-left: 5px solid #51aded;
    background-color: #f7f7f7;
    font-size: 25px;
    line-height: 40px
}

.linkpage li:hover {
    background: rgba(230, 244, 250, .5);
    cursor: pointer
}

.linkpage li a {
    display: block;
    padding: 0 10px 0 90px;
    height: 90px;
    color: #555
}

.linkpage li a img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer
}

.linkpage li a h4 {
    color: #333;
    font-size: 18px;
    margin: 0 0 5px;
    transition: .5s;
    padding-top: 20px
}

.linkpage li a h4:hover {
    color: #51aded
}

.linkpage li a h4, .linkpage li a p {
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.4
}

.linkpage li a p {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    line-height: 24px
}

@media screen and (max-width: 768px) {
    .k-main .details {
        padding: 0;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }

    .article {
        padding: 3px
    }

    .article .header {
        padding: 0 16px 12px
    }

    .article h1 {
        margin-top: 14px;
        margin-bottom: 14px;
        font-size: 22px
    }

    .article .content p {
        font-size: 16px
    }

    .article .content table {
        display: block;
        word-break: keep-all
    }

    .article .header .meta span:not(:first-child) {
        margin-left: 5px
    }

    .article .header .meta > span:not(:last-child):after {
        content: none
    }

    .article .content .alert {
        padding: 10px 15px;
        font-size: 15px
    }

    .article .content .card-header {
        font-size: 15px
    }

    .article .content .card-body {
        padding: 12px 15px
    }

    .article .content .card-text {
        font-size: 14px
    }
}

/*--------------------------------------------------------------
7. 内容工具区
--------------------------------------------------------------*/


.k-main .details .toolbar {
    margin-top: 16px;
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

.k-main .details .toolbar .meta {
    width: 50%;
    cursor: default
}

.k-main .details .toolbar img {
    float: left !important;
    margin-right: 8px !important;
    width: 56px;
    height: 56px;
    border-radius: 50%
}

.k-main .details .toolbar .name {
    margin-bottom: -5px
}

.k-main .details .toolbar .motto {
    display: -webkit-box;
    overflow: hidden;
    margin-top: 10px;
    color: #666;
    text-overflow: ellipsis;
    font-size: 14px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1
}

.k-main .details .toolbar .meta .name a {
    color: #4a4a4a
}

.k-main .details .toolbar .share {
    margin-top: 12px
}

.k-main .details .toolbar .share .btn {
    width: 90px;
    height: 35px;
    font-size: 15px;
    line-height: 1.65
}

.k-main .details .toolbar .share .btn-donate {
    padding: 3px;
    border: 1px solid var(--theme-color-1, #00a2ff);
    border-radius: 0;
    color: var(--theme-color-1, #00a2ff)
}

.k-main .details .toolbar .share .btn-donate:focus, .k-main .details .toolbar .share .btn-donate:hover {
    border-color: var(--theme-color-1, #00a2ff);
    background-color: var(--theme-color-1, #00a2ff);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff
}

.k-main .details .toolbar .share .btn-thumbs {
    padding: 3px;
    border: 1px solid #fb5235;
    border-radius: 0;
    color: #fb5235
}

.k-main .details .toolbar .share .btn-thumbs:focus, .k-main .details .toolbar .share .btn-thumbs:hover {
    border-color: #fb5235;
    background-color: #fb5235;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff
}

.btn-primary:focus, .k-main .details .toolbar .share .btn-primary.focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.donate-box {
    max-width: 328px
}

.donate-box .modal-header {
    padding: 0 20px;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    background-color: #f8f8f8;
    border-radius: 2px 2px 0 0
}

.donate-box .modal-body {
    padding: 0
}

.donate-box .modal-footer {
    padding: 0;
    justify-content: center;
    border-radius: 0 0 2px 2px
}

.donate-box .close {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 7px
}

.donate-box .meta-pay {
    margin-bottom: 14px;
    cursor: default
}

.donate-box .qr-pay img {
    width: 200px;
    height: 200px
}

.donate-box .choose-pay input {
    display: none
}

.donate-box .choose-pay input:checked + label {
    border-color: var(--theme-color-2, #0097ee);
    color: var(--theme-color-2, #0097ee)
}

.donate-box .pay-button {
    margin: 10px 5px;
    width: 132px;
    height: 45px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    text-align: center;
    line-height: 40px;
    cursor: pointer
}

.donate-box .pay-button img {
    height: 26px
}

.k-main .details .post-navigation {
    margin-top: 16px
}

.k-main .details .post-navigation .nav-next a, .k-main .details .post-navigation .nav-previous a {
    color: #5a5a5a
}

.k-main .details .post-navigation .nav-previous {
    float: left;
    padding: 7px 18px;
    max-width: 50%;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    text-align: left
}

.k-main .details .post-navigation .nav-next {
    float: right;
    padding: 7px 18px;
    max-width: 50%;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    text-align: right
}

/*--------------------------------------------------------------
8. 文章评论
--------------------------------------------------------------*/

.comments {
    margin-top: 16px;
    padding: 1.6px 16px 16px;
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

.k-main .details .post-2 .comments {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.comments .comment-form-author {
    padding-right: 5px
}

.comments .comment-form-email {
    padding-left: 5px
}

.comments .input-group-text {
    border: 1px solid #eee;
    background-color: #f8f8f8
}

.comments .form-control {
    border: 1px solid #eee
}

.comments .title {
    margin-bottom: 0;
    padding: 16px 0;
    border-bottom: 1px solid #f0f0f0;
    font-size: 19px;
    cursor: default
}

.comments .comment {
    padding: 16px 0;
    list-style: none
}

.comments .list li {
    margin-bottom: 0;
    border-bottom: 1px solid #f0f0f0;
    line-height: 1.8
}

.comments .comment .avatar {
    vertical-align: middle
}

.comments .comment .avatar img {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #eaeaea;
    border-radius: 50%
}

.comments .comment .info {
    overflow: hidden
}

.comments .comment .info .author_name {
    display: inline-block;
    margin-top: 3px;
    color: #252525;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 1.375
}

.comments .comment .info .author_name a {
    color: #252525;
    font-weight: 600;
    font-size: 14px
}

.comments .comment .info .content {
    margin-bottom: 0 !important
}

.comments .comment .info .content p {
    margin: 0;
    color: #000;
    font-size: 14px
}

.comments .comment .info .content p span {
    color: #333
}

.comments .comment .info .meta, .comments .comment .info .meta a {
    display: inline;
    color: #9b9b9b;
    font-size: 13px
}

.comments .comment .info .meta .tool {
    opacity: 0;
    transition: opacity .3s ease-out
}

.comments .comment:hover .meta .tool {
    opacity: 1
}

.comment .wp-smiley {
    height: 40px !important;
    max-height: 40px !important;
}

.comments .comment .info .meta .date {
    margin-left: .2rem;
}

.comments .comment .info .meta .date:before {
    content: "\B7";
    margin-right: .4rem;
    font-size: 13px
}

.comments .children {
    margin-left: 30px
}

.comments .children .comment {
    margin-bottom: 0;
}

.comments .children .comment .avatar img {
    width: 30px;
    height: 30px
}

.comments .comment-respond .comment-textarea {
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: hsla(0, 0%, 71%, .1)
}

.comments .comment-respond .comment-textarea label {
    display: none;
}

.comments .comment-respond .comment-textarea textarea {
    height: 130px;
    border: none;
    border-radius: 0;
    resize: none
}

.comments .comment-respond .comment-textarea .text-bar {
    overflow: hidden;
    padding: 6.4px 8px;
    background-color: #f8f8f8
}

.comments .comment-respond .comment-textarea .text-bar .tool {
    padding-top: 4.8px
}

.comments .comment-respond .comment-textarea .text-bar .tool a img {
    width: 100%
}

.comments .comment-respond .comment-textarea .btn {
    width: 100px;
    border: none;
    border-radius: 3px;
    font-size: 14px
}

.comments .comment-respond .comment-textarea .btn-primary {
    background-color: var(--theme-color-1, #00a2ff);
}

.comments .comment-respond .comment-textarea .addbtn {
    padding: 0 8px;
    color: #333
}

.comments .comment-respond .comment-textarea .addbtn:hover {
    color: #333
}

/*.comments .comment-respond .comment-textarea*/
#cancel-comment-reply-link {
    display: inline-block;
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.5;
    user-select: none;
    transition: none;
}

.comments .comment-respond .comment-textarea .text-bar .smile {
    position: absolute;
    z-index: 9;
    display: none;
    padding: 2px;
    width: 484px;
    background-color: #fff;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, .11)
}

.comments .comment-respond .comment-textarea .text-bar .smile a {
    float: left;
    display: block;
    padding: 4px;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    background-color: #f0f0f0
}

.comments .comment-respond .comment-textarea .text-bar .open {
    visibility: visible;
    transform: none
}

.comments .comment-respond .error {
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    background-color: hsla(0, 0%, 71%, .1)
}

.comments .i-reply {
    font-size: 12px
}

/*#comments-nav {*/
/*    display: block*/
/*}*/

/*#comments-nav a {*/
/*    display: inline-block;*/
/*    width: 144px;*/
/*    height: 37px;*/
/*    border: none;*/
/*    border-radius: 2px;*/
/*    background-color: var(--theme-color-1, #00a2ff);*/
/*    color: #fff;*/
/*    font-size: 15px;*/
/*    line-height: 2.4;*/
/*    transition: .15s ease-in-out;*/
/*    -webkit-user-select: none;*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    user-select: none*/
/*}*/


/*.article .content .paginations a span {*/
/*    padding: 7px 12px;*/
/*    border: solid 1px var(--theme-color-1, #00a2ff);*/
/*    background-color: var(--light, #f8f9fa);*/
/*    color: var(--theme-color-1, #00a2ff)*/
/*}*/

/*.article .content .paginations .current span, .article .content .paginations a span:hover {*/
/*    padding: 7px 12px;*/
/*    border: solid 1px var(--theme-color-1, #00a2ff);*/
/*    background: var(--theme-color-1, #00a2ff);*/
/*    color: #fff*/
/*}*/

#comments-nav {
    margin: 23px auto;
    width: 100%;
    text-align: center;
    font-size: 14px
}


#comments-nav .dots {
    padding: 8px 12px;
    background: #fff;
    color: #444
}

#comments-nav a {
    padding: 8px 12px;
    border: solid 1px #fff;
    background: #fff;
    color: #444
}

#comments-nav .prev, #comments-nav .next {
    border: solid 1px var(--theme-color-1, #00a2ff);
}

#comments-nav a:hover {
    padding: 8px 12px;
    border: solid 1px var(--theme-color-1, #00a2ff);
    background: var(--theme-color-1, #00a2ff);
    color: #fff
}

#comments-nav span.current {
    padding: 8px 12px;
    border: solid 1px var(--theme-color-1, #00a2ff);
    background: var(--theme-color-1, #00a2ff);
    color: #fff;
    font-weight: 400
}


@media screen and (max-width: 768px) {
    .k-main .details .toolbar .meta {
        margin: 14px 0;
        padding-bottom: 16px;
        width: 100%;
        border-bottom: 1px solid #eee
    }

    .k-main .details .toolbar .meta span {
        font-size: 12px
    }

    .k-main .details .toolbar .meta .love {
        display: none !important
    }

    .k-main .details .toolbar .share {
        margin-top: 16px
    }

    .k-main .details .toolbar .motto {
        padding-bottom: 5px;
        min-height: 30px;
    }

    .k-main .details .toolbar .share .btn {
        width: 88px;
        height: 35px;
        font-size: 14.5px;
        line-height: 1.5
    }

    .comments .comment-form-author {
        padding-right: 15px
    }

    .comments .comment-form-email {
        padding-left: 15px
    }
}

/*--------------------------------------------------------------
9. 小工具
--------------------------------------------------------------*/

.k-main .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    animation-name: fadeInRight
}

.k-main .sidebar img {
    height: auto
}

.k-main .sidebar .widget {
    margin: 0 0 23px;
    padding: 15px 30px;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

.k-main .sidebar .widget :not(.nav-link) a {
    color: #4c4c4c;
    text-decoration: none;
    -webkit-transition: color .3s;
    transition: color .3s
}

.k-main .sidebar .widget :not(.nav-link) a:hover {
    color: var(--theme-color-2, #0097ee)
}

.widget li {
    padding-top: 2px;
    padding-bottom: 2px
}

.k-main .sidebar .widget_toc #toc {
    padding: 0
}

.k-main .sidebar .widget_toc #toc .nav {
    width: 100%
}

.k-main .sidebar .widget_toc #toc .nav .nav-link.active {
    background-color: var(--theme-color-1, #00a2ff);
    color: #fff
}

.k-main .sidebar .widget_toc #toc .nav li.nav-item {
    list-style: none;
    margin-bottom: 0
}

.k-main .sidebar .widget_toc #toc .nav .nav-link:hover {
    color: var(--navbar-color-2, #fff);
    background-color: var(--navbar-color-1, rgba(40, 42, 44, .6))
}

.k-main .sidebar .w-about, .k-main .sidebar .w-ad {
    padding: 0
}

.k-main .sidebar > div:last-child {
    margin: 0
}

.k-main .sidebar .w-about .background {
    height: 120px
}

.k-main .sidebar .w-about .wrapper img {
    margin: -50px 0 0;
    width: 100px;
    height: 100px;
    border: 4px solid rgba(255, 255, 255, .4);
    border-radius: 50%
}

.k-main .sidebar .w-about .textwidget {
    padding: 5px 20px 20px
}

.k-main .sidebar .w-about .textwidget p {
    margin-bottom: 0;
    cursor: default
}

.k-main .sidebar .w-about .textwidget .username {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px
}

.k-main .sidebar .w-about .textwidget .about {
    font-size: 15px
}

.k-main .sidebar .w-ad {
    position: relative
}

.w-about-detailed .author {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: 20px
}

.w-about-detailed .author img {
    float: left;
    margin-top: 10px;
    width: 64px
}

.w-about-detailed .author .in_box {
    float: left;
    margin-top: 20px;
    margin-left: 30px
}

.w-about-detailed .author .in_box .name {
    display: block;
    width: 100%
}

.w-about-detailed .author .in_box .location {
    display: block;
    width: 100%;
    color: #c1c1c1;
    font-size: 12px
}

.w-about-detailed .author .in_box .location i {
    margin-right: 5px;
    color: #fb8b89;
    font-size: 15px
}

.w-about-detailed .author_title {
    text-align: center;
    margin-top: 16px;
    padding: 0 20px;
    border-bottom: 1px solid #f3fafd;
    color: #c5b5a0;
    font-size: 13px
}

.w-about-detailed .items {
    position: relative;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none
}

.w-about-detailed .items li {
    float: left;
    width: 33%;
    color: #a5a5a5;
    text-align: center;
    letter-spacing: 1px;
    font-size: 13px;
    font-family: Product Sans, Hiragino Sans GB, Hiragino Sans GB W3, Microsoft YaHei, WenQuanYi Micro Hei
}

.w-about-detailed .items span {
    display: block;
    padding-bottom: 10px;
    font-size: 15px
}

.w-about-detailed .items li:not(:last-child) {
    border-right: 1px solid #efefef
}

.w-about-detailed .info {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    list-style: none
}

.w-about-detailed .info li {
    margin-bottom: 0;
    padding: 3px 25px;
    color: #545454;
    list-style: none;
    letter-spacing: 1px;
    font-size: 13px;
    font-family: Product Sans, Hiragino Sans GB, Hiragino Sans GB W3, Microsoft YaHei, WenQuanYi Micro Hei
}

.w-about-detailed .info a {
    display: block;
    border-radius: 30px;
    color: #93a5c1;
    text-align: left;
    letter-spacing: .6px;
    font-size: 13px
}

.w-about-detailed .info > a:hover {
    color: #b5b5b5
}

.w-about-detailed .info li i {
    position: relative;
    top: 7px;
    float: left;
    display: inline-block;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border: 2px solid #c5c5c5;
    border-radius: 100%;
    background-color: #c9e7fd
}

.w-comments .recentcomments {
    padding: 0 5px
}

.w-comments .comment-listitem {
    list-style: none;
    padding: 8px 0 !important
}

.w-comments .comment-user {
    font-size: 13px
}

.w-comments .comment-avatar {
    float: left
}

.w-comments .comment-avatar img {
    float: left;
    margin-right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-box-shadow: 0 .125rem 1.0625rem 0 rgba(0, 0, 0, .1);
    box-shadow: 0 .125rem 1.0625rem 0 rgba(0, 0, 0, .1)
}

.w-comments .comment-author {
    float: left;
    margin-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 95px
}

.w-comments .comment-content {
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 75%
}

.w-comments .wp-smiley {
    max-height: 20px !important
}

.w-comments .nav-tabs .nav-link {
    padding: 8px 16px
}

.w-post {
    padding: 7px 30px 15px
}

.w-post .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.w-post .nav-tabs > li {
    float: left
}

.w-post .nav-tabs > li > span {
    position: relative;
    display: block;
    padding: 10px 15px;
    line-height: 1.42857143;
    border: 1px solid transparent
}

.w-post .nav-tabs > li > a:hover, .w-post .nav-tabs > li > span:focus, .w-post a.list-group-item:focus, .w-post button.list-group-item:focus, .w-post button.list-group-item:hover, a.list-group-item:hover {
    color: #000 !important
}

.w-post .nav-tabs.nav-justified > li > span {
    margin-right: 0;
    border-bottom: 0;
    border-radius: 0
}

.w-post .nav-tabs.nav-justified > .active > span, .w-post .nav-tabs.nav-justified > .active > span:focus, .w-post .nav-tabs.nav-justified > .active > span:hover {
    border: 0
}

.w-post #tabul li {
    border-bottom: 3px solid #f2f2f2;
    list-style: none;
    width: 33%;
    text-align: center;
    font-size: 16px
}

.w-post #tabul .active {
    position: relative;
    border-bottom: 3px solid #51aded;
    color: #000
}

.w-post .tab-content {
    margin: 0 8px -18px
}

.w-post .tab-content > .tab-pane {
    display: none
}

.w-post .tab-content > .active {
    display: block
}

.w-post .list-group {
    padding-left: 0;
    margin-bottom: 20px
}

.w-post .tab-content .list-group a:last-child, .w-post .tab-content .list-group a:nth-last-child(2) {
    border-bottom: 0
}

.w-post .tab-content .list-group a {
    overflow: hidden;
    border-bottom: 1px dashed #b4afaf;
    color: #666;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: color .3s;
    transition: color .3s
}

.w-post .list-group-item {
    position: relative;
    display: block;
    margin-bottom: 0;
    padding: 8px 0;
    border: 0
}

.w-post .list-group-item:first-child {
    margin-top: 1px
}

.w-post .list-group-item i {
    margin: 0 5px 0 0
}

.k-main .sidebar .w-ad .prompt {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 39px;
    height: 19px;
    background-color: rgba(0, 0, 0, .33);
    color: #dedede;
    text-align: center;
    font-size: 12px;
    line-height: 19px
}

.k-main .sidebar .w-recommended .bookmark-item {
    display: block;
    overflow: hidden;
    padding: 8px 0;
    border-bottom: 1px dashed #b4afaf;
    color: #333;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap
}

.k-main .sidebar .w-recommended .bookmark-item:last-child {
    border-bottom: none
}

.k-main .sidebar .w-recommended .bookmark-item .i-book {
    margin-right: 7px
}

.k-main .sidebar .w-recommended .nav-tabs {
    justify-content: center
}

.k-main .sidebar .w-recommended .nav-item {
    width: 33.3%;
    padding: 8px 0;
    text-align: center;
}

.k-main .sidebar .w-recommended .nav-link .vicon {
    margin-right: 8px
}

.k-main .sidebar .w-recommended .tab-content {
    padding-left: 10px;
    padding-right: 10px
}

.k-main .sidebar .title {
    position: relative;
    margin: 0 0 15px;
    padding-bottom: 7px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 17px;
    cursor: default
}

.k-main .sidebar .title::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 72px;
    height: 2px;
    background-color: var(--theme-color-1, #00a2ff);
    content: ""
}

.k-main .sidebar .w-tags .item a {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin: 3px 0;
    padding: 4px 12px;
    border: 1px solid #f0f0f0;
    color: #666;
    text-transform: uppercase;
    line-height: 19px
}

.k-main .sidebar .widget_links ul li {
    display: inline-block;
    margin: 0 1px 10px 0;
    padding: 3px 6px;
    color: #333;
    list-style: none;
    font-size: 15px;
    line-height: inherit
}

.k-main .sidebar .widget_links ul li img {
    margin-top: -3px;
    width: 25px;
    height: 25px;
    border-radius: 50%
}

.k-main .sidebar .w-tags .item a:hover, .k-main .sidebar .widget_links ul li:hover {
    background-color: #eee
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom: 2px solid var(--theme-color-1, #00a2ff);
    background-color: #fff;
    color: #333
}

.nav-tabs .nav-item {
    color: #333
}

.nav-tabs .nav-link {
    padding: 8px 16px;
    border: 0;
    border-bottom: 2px solid #f2f2f2
}

.nav-tabs {
    border-bottom: none
}

.k-main .sidebar .widget_links ul {
    margin-bottom: 0;
    padding-left: 0
}

.k-main .sidebar .widget_links ul li a {
    color: #333
}

.k-main .sidebar #wp-calendar {
    width: 100%
}

.k-main .sidebar caption, .k-main .sidebar tfoot {
    display: none
}

.k-main .sidebar tbody tr {
    font-weight: 400;
    font-size: 14px;
    font-family: arial
}

.k-main .sidebar tbody a {
    display: block;
    border: 1px solid var(--theme-color-1, #00a2ff);
    background: #edf8ff
}

.k-main .sidebar tbody tr td, .k-main .sidebar thead tr th {
    text-align: center;
    cursor: default
}

.k-main .sidebar .widget_search .screen-reader-text {
    display: none
}

.btn-search {
    background-color: var(--theme-color-1, #00a2ff);
    border-color: var(--theme-color-1, #00a2ff)
}

.btn-search:focus, .btn-search:hover, .btn-search:not(:disabled):not(.disabled):active {
    background-color: #0095ff;
    border-color: #0095ff
}

.btn-search:not(:disabled):not(.disabled):active:focus {
    box-shadow: none
}

.k-main .sidebar .w-search .btn, .k-main .sidebar .w-search .form-control {
    font-size: 15px;
    border-radius: 0
}

.k-main .sidebar .w-search .btn {
    padding-left: 25px;
    padding-right: 25px
}

@media screen and (max-width: 1200px) {
    .nav-tabs .nav-link {
        padding: 8px 22px
    }

    .k-main .sidebar .w-tags .item a, .k-main .sidebar .widget_links ul li {
        width: 110px
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 32px
    }
}

/*--------------------------------------------------------------
10. 404
--------------------------------------------------------------*/


.k-main .page404 {
    padding: 40px;
    text-align: center
}

.k-main .page404 .overlay {
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 101%;
    background: url(../../assets/img/404.svg) center center/cover no-repeat
}

.k-main .page404 .overlay:after, .k-main .page404 .overlay:before {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 20px;
    height: 100%;
    background: #fff;
    content: ""
}

.k-main .page404 .overlay:before {
    left: 0
}

.k-main .page404 .overlay:after {
    right: 0
}

.k-main .page404 .thumbnail {
    position: relative;
    width: 100%;
    height: 500px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

.k-main .page404 .content {
    font-weight: 500
}

.k-main .page404 .content .title {
    font-size: 30px
}

.k-main .page404 .content .action, .k-main .page404 .content .subtitle {
    font-size: 16px
}

.k-main .page404 .content .action .btn-outline-primary {
    width: 110px;
    border-radius: 2px;
    letter-spacing: 2px
}

.k-main .page404 .content .action .back-prevpage {
    border-color: var(--theme-color-1, #00a2ff);
    background-color: var(--theme-color-1, #00a2ff);
    color: #fff
}

.k-main .page404 .content .action .back-prevpage:hover {
    border-color: #009ef9;
    background-color: #009ef9
}

.k-main .page404 .content .action .back-index {
    border-color: #d8dcdf;
    background-color: transparent;
    background-image: none;
    color: #666
}

.k-main .page404 .content .action .back-index:hover, .k-main .page404 .content .action .back-index:not(:disabled):not(.disabled):active {
    border-color: #d8dcdf;
    background-color: #f6f4f4;
    color: #666
}

@media screen and (max-width: 768px) {
    .k-main .page404 .thumbnail {
        height: 315px
    }

    .k-main .page404 .content .title {
        font-size: 21px
    }

    .k-main .page404 .content .subtitle {
        font-size: 14px
    }
}

@media screen and (max-width: 480px) {
    .k-main .page404 .thumbnail {
        height: 200px
    }

    .comments-nav a, .comments-nav span.current {
        padding: 3px 8px;
        margin: 2px
    }
}

/*--------------------------------------------------------------
11. 页脚
--------------------------------------------------------------*/

.k-footer {
    padding: 40px 0;
    background: #23282d
}

.k-footer p {
    margin-bottom: 0;
    color: #8e8e8e;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: default
}

.k-footer p a {
    color: #8e8e8e
}

.k-footer p a:hover {
    color: var(--theme-color-2, #0097ee)
}

.k-footer p .police-ico {
    display: inline-block;
    margin-top: -4px;
    margin-right: 6px;
    width: 14px;
    height: 1pc;
    background: url(../../assets/img/police-ico.png) no-repeat;
    vertical-align: middle
}

.k-footer .f-toolbox > div {
    position: fixed;
    right: 20px;
    z-index: 999;
    text-align: center
}

.k-footer .f-toolbox .gotop .gotop-btn span, .k-footer .f-toolbox .search span, .k-footer .f-toolbox .wechat span {
    display: table-cell;
    width: 40px;
    height: 40px;
    color: #fff;
    vertical-align: middle;
    font-size: 18px
}

.k-footer .f-toolbox .gotop {
    display: none;
    bottom: 80px;
    cursor: pointer;
    background: rgba(132, 132, 132, .7)
}

.k-footer .f-toolbox .gotop.gotop-haswechat {
    bottom: 130px
}

.k-footer .f-toolbox .gotop .gotop-btn {
    display: table;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center
}

.k-footer .f-toolbox .wechat {
    bottom: 80px;
    background: rgba(132, 132, 132, .7);
    cursor: pointer
}

.k-footer .f-toolbox .wechat .wechat-pic {
    display: none;
    height: 0;
    overflow: hidden
}

.k-footer .f-toolbox .wechat img {
    position: absolute;
    right: 55px;
    bottom: -55px;
    width: 150px;
    height: 150px
}

.k-footer .f-toolbox .search {
    bottom: 30px;
    display: table;
    background: rgba(132, 132, 132, .7);
    cursor: pointer
}

.k-footer .f-toolbox .search input {
    width: 100%;
    height: 40px;
    border: 0;
    background: 0 0;
    color: #fff;
    font-size: 17px
}

.k-footer .f-toolbox .search .search-form {
    width: 0;
    transition: width .5s;
    -moz-transition: width .5s;
    -webkit-transition: width .5s;
    -o-transition: width .5s;
}


.k-footer .f-toolbox .search .i-find:hover + .search-form {
    width: 200px;
}


.k-footer .f-toolbox .search .search-form:hover {
    width: 200px;
}


.k-footer .social {
    line-height: 45px
}

.k-footer .social a {
    display: inline-block;
    padding: 0 7px
}

.k-footer .social a .vicon {
    font-size: 40px
}

@media screen and (max-width: 768px) {
    .k-footer {
        padding: 30px 0
    }

    .k-footer p {
        font-size: 10px
    }

    .k-footer .social a .vicon {
        font-size: 38px
    }
}
